{% extends "layout/base.html" %}

{% block content %} 
    <h1>Welcome to the todo application</h1> 
    <form class="pure-form pure-form-aligned" action="/login" method="POST">
        <fieldset>
            <div class="pure-control-group">
                <label for="aligned-name">Username</label>
                <input type="text" id="aligned-name" placeholder="Username" name="username"/>
                <!-- <span class="pure-form-message-inline">This is a required field.</span> -->
            </div>
            <div class="pure-control-group">
                <label for="aligned-password">Password</label>
                <input type="password" id="aligned-password" placeholder="Password"  name="password"/>
            </div>
            <div class="pure-controls">
                <label for="aligned-cb" class="pure-checkbox">
                    <input type="checkbox" id="default-remember" /> Remember me</label>
                <button type="submit" class="pure-button pure-button-primary">Sign in</button>
                <a href="/signup" class="pure-button pure-button-primary">Sign up</a>
            </div>
        </fieldset>
    </form>

{% endblock %} 

