{% extends "layout/base.html" %}

{% block content %}
    <h1>Edit todo</h1>
    <p>{{ message }}</p>
    <form class="pure-form pure-form-aligned" action="{{ url_for('update_user')}}" method="POST">
        <fieldset>
            <div class="pure-control-group">
                <label for="aligned-name">Username</label>
                <input type="text" id="aligned-name" placeholder="" name="username" value="{{ user.username }}"/>
            </div>
            <div class="pure-control-group">
                <label for="aligned-password">Email address</label>
                <input type="email" id="aligned-name" placeholder="" name="email" value="{{ user.email }}"/>
            </div>
            <div class="pure-controls">
                <label for="aligned-cb" class="pure-checkbox">
                <button type="submit" class="pure-button pure-button-primary">Update</button>
            </div>
        </fieldset>
    </form>
{% endblock content %}

